<!DOCTYPE html>

<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <title>QBank</title>
    <link rel="shortcut icon" href="../assets/HGDRY.png" type="image/x-icon" />
    <link rel="stylesheet" href="./signup.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div class="container">
      <form action="#">
        <div class="title">SignUp</div>
        <div class="input-box underline">
          <input type="text" placeholder="Enter Your Name" id="getName" required />
          <div class="underline"></div>
        </div>
        <div class="input-box underline">
          <input type="text" placeholder="Enter Institute Name" id="getName" required />
          <div class="underline"></div>
        </div>
        <div class="input-box underline">
          <input type="text" placeholder="Enter Your Email" id="getEmail" required />
          <div class="underline"></div>
        </div>
       
        <button class="input-box button">
          <input type="submit" name="" value="Sign Up" 
          class="btn"
          id="button"
          type="submit"onclick="myfunction()"
        > 
        </button>
      </form>
      <div class="text">
        <a href="../login/login.html">Already have an account? <span class="log">log in</span></a>
      </div>
    
    <script src="./signup.js"></script>
  </body>
</html>
