<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>QBank</title>
    <link rel="shortcut icon" href="../assets/HGDRY.png" type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
      integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
    />
    <link rel="stylesheet" href="./footer.css" />
  </head>
  <body>
    <section id="footer">
      <div class="col">
        <div class="col-container">
          <div class="col-text">
            <h4>QBank</h4>
            <h5>Kalyani Government Engineering College</h5>
            <p>
              One and Only of the most prestigious and sucessful club in our
              college
            </p>
            <p>Entrusted By Students & Teachers</p>
            <div class="follow">
              <h4>xyz@gmail.com</h4>
              <h4>Follow Us</h4>
              <div class="icons">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-youtube"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col">
        <button class="col-btn">
          <a href="#"> <div class="btn">Support Us</div></a>
        </button>
        <div class="col-heading">
          <a href="../about/about.html"><h4>About Us</h4></a>
          <a href="../courses/courses.html"><h4>Courses</h4></a>

          <a href="./footer.html"><h4>Contact Us</h4></a>
          <a href="#"><h4>Help and Support</h4></a>
        </div>
      </div>
      <div class="line"></div>
    </section>
    <div class="copyright">
      <p class="p1">Designed and Developed by Cold Nerds</p>
      <p class="p2">@copyright 2022</p>
    </div>
  </body>
</html>
